@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: darkcyan;   
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: aliceblue;
    text-align: center;     
 }

section {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
 }

 footer {
    color: aliceblue;
    text-align: center;
    margin: 10px;
    font-style: italic;
 }

 